Repository sidorares/node-mysql2, pull requests merged in 2024-01, with the labels that each got.

#2335 chore: move documentation responsibility to website
  .github/dependabot.yml
  Contributing.md
  README.md
  website/README.md
  website/docs/acknowledgements.mdx
  website/docs/api-and-configurations.mdx
  website/docs/documentation/00-index.mdx
  website/docs/history-and-why-mysq2.mdx
  website/docs/index.mdx
  website/package-lock.json
  website/package.json
Labels: documentation, website

#2339 feat(docs): release documentation website
  website/docs/contributing/website.mdx
  website/docs/documentation/00-index.mdx
  website/docs/documentation/mysql-server.mdx
  website/docs/documentation/typescript-examples.mdx
  website/docs/examples/connections/create-connection.mdx
  website/docs/examples/connections/create-pool.mdx
  website/docs/examples/connections/createPoolCluster.mdx
  website/docs/examples/queries/prepared-statements/delete.mdx
  website/docs/examples/queries/prepared-statements/index.mdx
  website/docs/examples/queries/prepared-statements/insert.mdx
  website/docs/examples/queries/prepared-statements/select.mdx
  website/docs/examples/queries/prepared-statements/update.mdx
  website/docs/examples/queries/simple-queries/delete.mdx
  website/docs/examples/queries/simple-queries/index.mdx
  website/docs/examples/queries/simple-queries/select.mdx
  website/docs/examples/queries/simple-queries/update.mdx
  website/docs/faq/how-to-handle-errors.mdx
  website/docs/index.mdx
  website/docs/stability-badges.mdx
  website/i18n/pt-BR/docusaurus-plugin-content-docs/current/index.mdx
  website/i18n/zh-CN/docusaurus-plugin-content-docs/current/index.mdx
  website/src/pages/index.tsx
Labels: documentation

#2383 ci(website): fix Prettier conflict
  website/package-lock.json
  website/package.json
  website/tsconfig.json
Labels: dependencies, website

#2387 ci(bun): fixes the process exit in Bun Canary tests
  .github/workflows/ci-bun.yml
  test/integration/connection/test-select-1.js
  test/integration/connection/test-select-ssl.js
Labels: bun

#2390 fix(types): add missing types to TypeCast
  test/tsc-build/strict-checks/typeCast.ts
  typings/mysql/lib/Connection.d.ts
  typings/mysql/lib/parsers/typeCast.d.ts
  typings/mysql/lib/protocol/sequences/Query.d.ts
Labels: typescript

#2405 Update prepared-statements.mdx
  website/docs/documentation/prepared-statements.mdx
Labels: documentation

#2407 fix: support encoding for string type cast
  test/tsc-build/strict-checks/typeCast.ts
  typings/mysql/lib/parsers/typeCast.d.ts
Labels: typescript
